<div class="container-fluid">

  <button (click)="onClickLogin()">sign in google</button>
  <button (click)="onClickLogout()">Logout</button>
  {{getLoginState()}}
  <div style="">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="price"></label>
        <input type="number"
               class="form-control" placeholder="Enter content..." id="price"
               required [(ngModel)]="itemValue" name="item"
        >
        <input type="category"
               class="form-control" placeholder="Select category..." id="category"
               required [(ngModel)]="itemValue" name="item"
        >
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <h2>Content from Firebase</h2>
  <div class="col-md-3">
    <pre *ngFor="let item of items | async">{{item.content}}</pre>
  </div>
</div>
