<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-text">
    Expenses
  </span>
  <button class="btn btn-outline-white" (click)="onClickLogin()">sign in google</button>
  <button class="btn btn-default" (click)="onClickLogout()">Logout</button>
</nav>
<div class="container-fluid">

  <!--{{getLoginState()}}-->
  <div style="">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number"
               class="form-control" placeholder="Enter content..." id="price"
               required [(ngModel)]="itemValue" name="item"
        >zł
        <!--<input type="category"-->
               <!--class="form-control" placeholder="Select category..." id="category"-->
               <!--required [(ngModel)]="itemValue" name="item"-->
        <!--&gt;-->
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <h2>Content from Firebase</h2>
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Price</th>
          <th scope="col">User</th>
        </tr>
      </thead>
      <tr *ngFor="let item of items | async">
        <td>{{item.content}}</td>
        <td>{{item.author}}</td>
      </tr>
    </table>
  </div>
</div>
